@use '../../styles/tokens' as *;

.wrapper {
  @include container;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  justify-content: center;
  color: $color-primary;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  text-align: center;

  @include from(md) {
    gap: 34px;
    padding-inline: 68px;
    font-size: 1.75rem;
  }

  &[data-lines='true']::before,
  &[data-lines='true']::after {
    content: '';
    flex: 1 1 0;
    height: 1px;
    background-color: $color-divider;
  }
}

.action {
  margin-top: 4px;
  font-size: 0.875rem;
}
