@use '../styles/tokens' as *;

.items {
  border-top: 1px solid $color-divider;
}

.cartActions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 24px;
}
